{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>DS1621 - Czujnik temperatury DIP8</h1>
    <p class="lead">Świetny czujnik jak ktoś potrzebuje zmierzyć temperaturę</p>
	  <img src="../static/temp.png" width=250 height=250 align="left">
	  <ui>Dane techniczne:
    <li>Typ układu scalnego: czujnik temperatury</li>
    <li>Rodzaj czujnika temperatury: termometr cyfrowy</li>
    <li>Zakrespomiaru temperatury: -55 do 125°C</li>
    <li>Obudowa: DIP8</li>
    <li>Montaż: THT</li>
    <li>Dokładność pomiaru temperatury: ±﻿0,5°﻿C</li>
    <li>Właściwości czujnika: z 2 przewodowym interfejsem</li>
    </ui>
  </div>
{% endblock %}
