{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>Przepływomierz turbinkowy 0.13-0.91 l/min</h1>
    <p class="lead">Świetny czujnik jak ktoś potrzebuje zmierzyć przepływ turbinkowy</p>
	  <img src="../static/przep.png" width=250 height=250 align="left">
	  <ui>Dane techniczne:
    <li>Typ czujnika: przepływomierz turbinkowy</li>
    <li>Napięcie zasilania: 4,5 - 20V DC</li>
    <li>Zakres pomiarowy: 0,1396 - 0,9156l/min</li>
    <li>Konfiguracja wyjścia: NPN</li>
    <li>Rozdzielczość: 1215imp/litr</li>
    <li>Właściwości czujników: pomiar cieczy o niskiej lepkości</li>
    <li>Temperatura pracy: -10 - 65°C</li>
    <li>Przyłącze: króćce Ø6mm﻿</li>
    <li>Średnica wejścia: Ø﻿2mm</li>
    <li>Model: 932-9506/B</li></ui>
  </div>
{% endblock %}