{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>SHT21D czujnik wilgotności i temperatury</h1>
    <p class="lead">Świetny czujnik jak ktoś potrzebuje zmierzyć wilgoć</p>
	  <img src="../static/wilg.png" width=250 height=250 align="left">
	  <ui>Dane techniczne:
    <li>Dokładność pomiaru wilgotności: ±2%</li>
    <li>Dokładność pomiaru temperatury: ±0,3°C﻿</li>
    <li>Napięcie zasilania: 2,1V - 3,6V</li>
    <li>Rozdzielczość: 8-14 bitów</li>
    <li>Wymiary: 3 x 3 x 1,1mm</li>
    <li>Wyjście: cyfrowe</li>
    <li>Magistrala: I2C</li>
	<li>Obudowa: DFN</li>
	<li>Montaż: SMD</li>
    </ui>
  </div>
{% endblock %}
